<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include partials/_head %>
  </head>

  <body class="container-fluid">

    <header class="container-fluid">
      <%- include partials/_header %>
    </header>

    <div class="container-fluid mt-5">

      <main class="row">
        <div class="col-3">
          <%- include partials/_side-nav %>
        </div>

        <div id="subjectGrid" class="col-6">
          <div class="card-deck">

            <div id="technology" class="card">
              <input class="card-img-btn" type="image" src="../images/technology.jpg" alt="technology">
              <div class="card-img-overlay">
                <p class="card-text">Technology</p>
              </div>
            </div>

            <div id="science" class="card">
              <input class="card-img-btn" type="image" src="../images/science.jpeg" alt="science">
              <div class="card-img-overlay">
                <p class="card-text">Science</p>
              </div>
            </div>

            <div id="literature" class="card">
              <input class="card-img-btn" type="image" src="../images/literature.jpeg" alt="literature">
              <div class="card-img-overlay">
                <p class="card-text">Science</p>
              </div>
            </div>

          </div>

          <div class="card-deck">
            <div class="card">
              <a href="#health"><img class="card-img-top" src="../images/health.jpeg" alt="health"></a>
              <div class="card-img-overlay">
                <p class="card-text">Health</p>
              </div>
            </div>
            <div class="card">
              <a href="#business"><img class="card-img-top" src="../images/business.jpeg" alt="business"></a>
              <div class="card-img-overlay">
                <p class="card-text">Business</p>
              </div>
            </div>
            <div class="card">
              <a href="#arts"><img class="card-img-top" src="../images/arts.jpeg" alt="arts"></a>
              <div class="card-img-overlay">
                <p class="card-text">Arts</p>
              </div>
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <a href="#culture"><img class="card-img-top" src="../images/culture.jpeg" alt="culture"></a>
              <div class="card-img-overlay">
                <p class="card-text">Culture</p>
              </div>
            </div>
            <div class="card">
              <a href="#education"><img class="card-img-top" src="../images/education.jpeg" alt="education"></a>
              <div class="card-img-overlay">
                <p class="card-text">Education</p>
              </div>
            </div>
            <div class="card">
              <a href="#engineering"><img class="card-img-top" src="../images/engineering.jpg" alt="engineering"></a>
              <div class="card-img-overlay">
                <p class="card-text">Engineering</p>
              </div>
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <a href="#politics"><img class="card-img-top" src="../images/politics.jpeg" alt="politics"></a>
              <div class="card-img-overlay">
                <p class="card-text">Politics</p>
              </div>
            </div>
            <div class="card">
              <a href="#psychology"><img class="card-img-top" src="../images/psychology.jpeg" alt="psychology"></a>
              <div class="card-img-overlay">
                <p class="card-text">Psychology</p>
              </div>
            </div>
            <div class="card">
              <a href="#sports"><img class="card-img-top" src="../images/sports.jpeg" alt="sports"></a>
              <div class="card-img-overlay">
                <p class="card-text">Sports</p>
              </div>
            </div>
          </div>
        </div>

      </main>

      <aside>
        <%- include partials/_activity-bar %>
      </aside>

    </div>

    <footer class="fixed-bottom">
      <%- include partials/_footer %>
    </footer>

  </body>
</html>
