<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include ./partials/_head %>
</head>
<body>

  <header>
    <%- include ./partials/_header %>
  </header>

  <aside>
    <%- include ./partials/_side-nav %>
  </aside>

  <aside>
    <%- include ./partials/_activity-bar %>
  </aside>

  <main id="subjectList" class="container-fluid">
    <article class="subject-">
      <input class="post-img" type="img" src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-social.png" alt="submit">
      <h2 class="post-title">
        Bootstrap
      </h2>
      <p class="post-description">
        The most popular HTML, CSS, and JS library in the world.
      </p>
    </article>
  </main>

  <footer>
    <%- include ./partials/_footer %>
  </footer>

</body>
</html>